<!DOCTYPE html>
{% load staticfiles %}


<html lang="en">
<body>


<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="fBox" name="bulk" id="bulk">Bulk Files</div>


        <div class="fBox" id="binder_container">

            <div class="binder" id="binder" name="binder">Binder</div>
            <div class="binder_img" name= "binder_img" id="binder_img">Binder Image</div>
        </div>


        <div class="fBox" id="stgd_container">
            <div class="stgd" name="stgd" id="stgd" >Study Guide</div>
            <div class="stgd_img" name="stgd_img" id="stgd_img">Study Guide Image</div>
        </div>


        <div class="fBox" name="splash" id="splash" >Splash Image</div>
    </form>
</div>


<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="console" id="console">


        <div>Show Name:<br>

            <input type="text" name="name" class="console_inp" id="name" placeholder="Play Title" required>
            <br>
            File Tree Title:<br>
            <input type="text" name="tree" class="console_inp" id="tree" placeholder="File Tree Branch" required>
            <br>
            Theatre:<br>
            <input type="text" name="house" class="console_inp" id="house" placeholder="Theatre">
            <br>
        </div>
        <div>Production Dates:<br>
            <input type="text" name="prod_date" class="console_inp" id="prod_date" placeholder="Production Dates">
            <br>
            Run Dates:<br>
            <input type="text" name="run_date" class="console_inp" id="run" placeholder="Dates of Run">
            <br>
            Playwright:<br>
            <input type="text" name="wright" class="console_inp" id="wright" placeholder="Playwright">
            <br>Director:<br>

            <input type="text" name="director" class="console_inp" id="director" placeholder="Director">
            <br>

            <input type="file" name="binder" hidden id="hidden_binder">
            <input type="file" name="stgd" hidden id="hidden_stgd">
            <input type="file" name="binder_img" hidden id="hidden_binder_img">
            <input type="file" name="stgd_img" hidden id="hidden_stgd_img">
            <input type="file" name="splash" hidden id="hidden_splash">
            <input type="file" name="bulk[]" hidden id="hidden_bulk">
        </div>

        <button type="submit" value="Submit" id="go_button">And...GO!</button>
        <br>
        </div>
</form>


</body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'core/css/makerStyle.css' %}">
    <style>@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
    @import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Vollkorn');
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/core/js/maker.js"></script>
    <title>Title</title>
</head>
</html>