


h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 20px;
}

html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}
nav{
    top:0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
}

nav a{
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    line-height: 50px;
}

.sect{
    display: flex;
    margin: 0;
    height: 100%;
    align-content: space-around;
    background-color: dimgrey;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.annotation_left{
    position: absolute;
    padding-top: 50px;
    padding-left: 1%;
    display: flex;
    /*align-items: flex-start;*/
    flex-direction: column;
    font-size: 20pt;
    font-family: 'Old Standard TT', serif;
    color: lightblue;
    text-align: left;
}
.annotation_right{
    position: absolute;
    padding-top: 50px;
    display: flex;
    padding-left: 83%;
    /*align-items: flex-end;*/
    flex-direction: column;
    /*justify-content: flex-start;*/
    font-size: 20pt;
    font-family: 'Old Standard TT', serif;
    color: lightblue;
    text-align: right;

    /*align-content: flex-start;*/
}



.subSect {
    position:relative;
    display: flex;
    height: 35%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-family: 'Vollkorn', serif;
    padding: 0;
    margin-bottom:0;
    overflow: hidden;
    box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.79);
}


.caption{
    text-align: center;
    font-size: 10pt;
    font-family: 'Old Standard TT', serif;

}
.sectZero{
    background-image: url("/media/images/ghostlight.jpg");
}


.secFinal{

background-image: url("/media/images/DeadEnd1.jpg");
}

.roller{
    width: 20%;
    display: flex;
    max-height: 95%;

}

.roller img:not(:first-child){
    display: none;

}
.roller_img{
    max-width: 100%;
    flex-grow: 1;
}

.binder{
    width: 20%;
    display: flex;
    max-height: 95%;
}

.binder img{
    max-width: 100%;
    flex-grow: 1;
}
.study{
    width: 20%;
    display: flex;
    max-height: 95%;
}

.study img{
    max-width: 100%;
    flex-grow: 1;
}